<!DOCTYPE html>
<html>

<head>
    <title>CS Pinger - Ultimate Website Monitor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
        // Pings when change detected in existing website
        if ('{{length}}' > 0) {
            Notification.requestPermission().then(perm => {
                if (perm === 'granted') {
                    new Notification("Website has been updated!", { body: '{% for location in locations_changed %}{{location}}\n{% endfor %}', icon: '/static/pinger.png' })
                }
            })
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/pinger.png" rel="icon">
</head>

<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="red">Pinger | Ultimate Website Monitor</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="header">
        <h1>Pinger</h1>
        <img src="/static/pinger.png" alt="Ping!" width="250" height="250">
    </div>
    <div class="container mt-3">
        <h2 class="text-center">Websites to Monitor</h2>
        <table class="table table-bordered" class="center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody id="table" name="table">
                <!--Adds name, URL, and, time since last site update to the Websites to Monitor table-->
                {% for website in websites_monitored %}
                <tr>
                    <td>{{ website.name }}</td>
                    <td>{{ website.url }}</td>
                    <td>{{ website.last_updated }}</td>
                    <td>
                        <form action="/remove" method="post">
                            <input name="url" type="hidden" value="{{ website.url }}">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container" style="text-align:center">
        <div class="section">
            <form action="" method="POST">
                <label for="newURL">URL to Track: </label>
                <input type="text" id="newURL" name="url" placeholder="Website URL">
                <label for="name">Name (Optional): </label>
                <input type="text" id="name" name="name" placeholder="Website Name">
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
</body>
</html>
